body{font-family:"Roboto",sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        background-color:#ffffff;

}
p{font-style: normal}
.col-title{color:#4D5AE5;
font-family: raleway,sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}


.logo-title{background-color: #2E2F42;}
.studio1{
    color: #2E2F42;
font-family: raleway,sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.team{background-color: #F4F4FD;

}

.list-title2 {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center

}
/* ---------header--------- */
.button-1{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

cursor: pointer;}

.button-1:hover,.button-1:focus{color: #ffffff;
    background-color: #4D5AE5;
}

.heder-act-{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.heder-act-s {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.heder-act-s:hover.heder-act-s:focus{color: #404bbf;}


.heder-act:hover.heder-act:focus{color: #404bbf;
}
.heder-act:active{color: #404bbf;

}
.ad-nav{font-style: normal
}

.contact{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact:hover.contact:focus{color:#404bbf;
}

ul{
list-style: none; 
}
.web-studio{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
}
.web-studio:hover.web-studio:focus{color: #404bbf;
}
.web-studio-log {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
/*------------ main----------- */
.list-title1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
text-transform: capitalize;
text-align: center;

}


.photo-team{background-color: #ffffff;}


.list-title{font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize
}


    .p-text{font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }


/* --------footer------- */
.logo-footer{background-color: #2E2F42
}

.footer-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

    .stu{
    font-family:raleway,sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#2e2f42;
    }
.front{font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.sp-footer{color: #f4f4fd;
    font-family: "Raleway",
            sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}



